body {
  font-family: Arial, sans-serif;
  margin: 0;
  color: white;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  font-style: italic;
  margin: 0;
}

main {
  padding: 20px;
}

body,
html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("background.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1s;
}

.bg {
  transform: rotate(360deg);
}
